{% extends 'base.html.twig' %}

{% block body %}
    <style>
        h1 {
            font-size: 26px;
            font-weight: 300;
            position: relative;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
        }

        h2 {
            font-size: 26px;
            font-weight: 300;
            text-align: center;
            position: relative;
            margin: 40px 70px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
        }

        h2 span {
            display: inline-block;
            padding: 0 25px;
            background: #ffffff;
            position: relative;
            z-index: 2;
        }

        .col-center {
            margin: 0 auto;
            float: none !important;
        }

        .carousel {
            margin: 30px auto 50px;
            padding: 0 68px;
        }

        .carousel .item {
            text-align: center;
            overflow: hidden;
            height: 160px;
        }

        .carousel .item .img-box {
            background: #fff;
            padding: 9px;
            box-shadow: 0 6px 20px -6px rgba(0, 0, 0, 0.4);
        }

        .carousel .item img {
            margin: 0 auto;
        }

        .carousel .carousel-control {
            width: 68px;
            background: none;
        }

        .carousel .carousel-control i {
            font-size: 28px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
        }

        .carousel .carousel-indicators {
            bottom: -60px;
        }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 30px;
            height: 10px;
            border-radius: 50%;
            margin: 1px 4px;
        }

        .carousel-indicators li {
            background: #999;
            border-color: transparent;
        }

        .carousel-indicators li.active {
            background: #555;
        }


        .navbar-item {
            margin-right: 10px;
            margin-left: 10px;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .ava {
            float: left;
            margin: 0px 80px 7px 7px;
        }

        .orders {
            border-style: solid;
            border-width: 1px;
            margin-top: 15px;
            border-color: gray;

        }

        .orders h1 {
            margin-top: 15px;
        }

        .status1 {
            color: gray;
            font-size: 20px;
        }

        .col-sm-4 {
            width: 200px;
            height: 140px
        }

        .order_img {
            align-content: space-around;
            padding-left: 10px;
            width: 314px;
            height: 150px;
            float: right;

        }

    </style>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brad"><img
                        src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg"> MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
{#                    <li class="navbar-item active">#}
{#                        <a href="/login" class="nav-link">Login</a>#}
{#                    </li>#}
                    <li class="navbar-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
                <div class="navbar-item">

                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                </div>

            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row username" style="margin-top:45px;">
            <div class="col-md-4">
                <img src="../z.jpg" alt="Avatar_img"
                     style="padding-left: 10px;width:300px;height:350px" class="ava">
            </div>
            <div class="col-md-8">
{#                <h1>Username</h1>#}
                <h1>{{ name }}</h1>
{#                <div class="media-text text-justify" style="">#}
{#                    Lorem ipsum dolor sit amet. Blanditiis praesentium voluptatum#}
{#                    deleniti atque. Autem vel illum, qui blanditiis praesentium voluptatum deleniti atque corrupti.#}
{#                    Dolor repellendus cum soluta nobis. Corporis suscipit laboriosam, nisi ut enim. Debitis aut#}
{#                    perferendis doloribus asperiores repellat. sint, obcaecati cupiditate non numquam eius. Itaque earum#}
{#                    rerum facilis. Similique sunt in ea commodi. Dolor repellendus numquam eius modi. Quam nihil#}
{#                    molestiae consequatur, vel illum, qui ratione voluptatem accusantium doloremque.#}
{#                </div>#}
                <div class="media-text text-justify" style="">{{ about }}</div>
                <div class="links">
                    <p style="padding-top: 30px"><i class="fa fa-link"></i> link</p>
                    <p><i class="fa fa-link"></i> link</p>
                    <p><i class="fa fa-link"></i> link</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10 col-center m-auto">
                <h2><span>Merch</span></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://dreamshirts.ru/media/catalog/product/cache/1/small_image/176x177/9df78eab33525d08d6e5fb8d27136e95/1/b/1black-allgtwet3t523-4.jpg"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://images.kz.prom.st/97935606_list-stikerov-hos.jpg"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://fanparty.ru/fanclubs/avatar/gallery/256947_avatar.jpg"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://merchiumru.gcdn.co/users/13811/images/detailed/85/MS01048002_white.jpg?t=1495067284"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://images.kz.prom.st/97935606_list-stikerov-hos.jpg"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="https://fanparty.ru/fanclubs/avatar/gallery/256947_avatar.jpg"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-box"><img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png"
                                                              class="img-responsive img-fluid" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container" style="margin-bottom: 30px">
        <h2>My orders:</h2>
        <div class="row orders">
            <div class="col-md-4">
                <img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png" alt="Avatar_img" class="order_img">
            </div>
            <div class="col-md-8">
                <h1>Product name</h1>
                <div class="media-text text-justify status1" style="">
                    Status
                </div>
            </div>
        </div>
        <div class="row orders">
            <div class="col-md-4">
                <img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png" alt="Avatar_img" class="order_img">
            </div>
            <div class="col-md-8">
                <h1>Product name</h1>
                <div class="media-text text-justify status1" style="">
                    Status
                </div>
            </div>
        </div>
        <div class="row orders">
            <div class="col-md-4 order_img">
                <img src="http://tarabeiser.com/ux/imgux/searchEmptyState.png" alt="Avatar_img" class="order_img">
            </div>
            <div class="col-md-8">
                <h1>Product name</h1>
                <div class="media-text text-justify status1" style="">
                    Status
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- После подключения jQuery, Popper и Bootstrap JS -->
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({trigger: 'hover'});
        });
    </script>
{% endblock %}
