
.goodImg {
    width: 100%;
    height: 250px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gainsboro;
}

.good{
    display: inline-block;
    height: 450px;
    width: 20%;
    border: #cccccc solid 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.dropdown{
    height: 66px;
    width: 15%;
    background-color: white;
    border-color: #cccccc;
}
/*.dropdown-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
}*/
.search{
    height: 60px;
    width: 65%;
    background-color: white;
    border-color: #cccccc;

}
.searchButton{
    height: 66px;
    width: 15%;
    background-color: white;
    border-color: #cccccc;
}
.uppermenu{
    margin-bottom: 10px;
    padding-top: 10px;
}
.lowerMenu{
    padding-bottom: 20px;
}
.upperImgDiv{
    height: 300px;
    width: 100%;
}
.upperImg{
    height: 300px;
    width: 100%;
}
.footerText{
    margin-left: 40%;
}
.cartButton{
    background-color: black;
    color: white;
    border: solid;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.number{
    position: center;
    margin-left: 45%;
}