RU
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="../css/ShopStyle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>



    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/granim/1.1.1/granim.min.js'></script>
    <meta charset="UTF-8">
    <script src="../js/ShopScript.js"></script>
    <title>Cart</title>
</head>
<style>
    .navbar-item {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
    <div class="container-fluid">
        <a href="mainPage.html" class="navbar-brad"><img
                src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg"> MERCHEAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item active">
                    <a href="mainPage.html" class="nav-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="profile.html" class="nav-link">Profile</a>
                </li>
                <li class="navbar-item">
                    <a href="goods.html" class="nav-link">Shop</a>
                </li>
                <li class="navbar-item">
                    <a href="register.html" class="nav-link">Become author</a>
                </li>
            </ul>
            <div class="navbar-item">

                <button class="btn-dark"><a href="cart.html"
                                            style="text-decoration: none; color: white">
                    <i class="fas fa-shopping-cart"></i>
                    Your Cart
                </a>
                </button>
            </div>

        </div>

    </div>
</nav>

<div class="container-fluid" style="padding: 0">
    <div class="upperImgDiv">
        <img alt="goodImg" src="https://shapka-youtube.ru/wp-content/uploads/2018/10/beztexta-category.jpg"
             class="upperImg">
    </div>
</div>
<div class="container">
    <div class="uppermenu">
        <select class="dropdown">
            <option value="T-shirt">T-shirt</option>
            <option value="Other stuff">Other stuff</option>
            <option value="Something else">Something else</option>
        </select>
        <input class="search" placeholder="Search">
        <button class="searchButton" value="Search">Search</button>
    </div>
    <div class="lowerMenu text-center">
        <div class="goods">
            <div class="good">
                <img alt="goodImg"
                     src="http://kayrosblog.ru/wp-content/uploads/2012/07/Samy-e-kreativny-e-kruzhki-so-vsego-sveta-1.jpg"
                     class="goodImg">
                <h2>Funny cup</h2>
                <h2>10$</h2>
            </div>
            <div class="good"><a href="product.html" style="text-decoration: none; color: white">
                <img alt="goodImg"
                     src="https://www.dhresource.com/600x600/f2/albu/g9/M00/68/3B/rBVaVVzSfCqAEdhIAAFtHGWu-GQ284.jpg"
                     class="goodImg">
            </a>
                <h2>"Not today"</h2>
                <h2>30$</h2>

            </div>
            <div class="good">
                <img alt="goodImg"
                     src="https://avatars.mds.yandex.net/get-pdb/224463/55fb2042-b030-47b7-aca9-4f6f9c57abe7/s1200"
                     class="goodImg">
                <h2>Stickers</h2>
                <h2>5$</h2>
            </div>
            <div class="good">
                <img alt="goodImg"
                     src="https://ontrend.ru/upload/iblock/0b6/0b65fc9a0a546f51c4eaec501c76b7d6.jpg"
                     class="goodImg">
                <h2>Bear t-shirt</h2>
                <h2>16$</h2>
            </div>
            <div class="good">
                <img alt="goodImg" src="https://ae01.alicdn.com/kf/HTB1_BkrbdjvK1RjSspiq6AEqXXaU/300.jpg_q50.jpg"
                     class="goodImg">
                <h2>Cup bruh</h2>
                <h2>10$</h2>
            </div>
            <div class="good">
                <img alt="goodImg"
                     src="https://alexponies.ru/wp-content/uploads/2017/03/znachok-gravity-falls-mystery-shack-set.jpg"
                     class="goodImg">
                <h2>Gravity falls</h2>
                <h2>2$</h2>
            </div>
            <div class="good">
                <img alt="goodImg"
                     src="https://cdn.fishki.net/upload/post/201506/01/1551299/21bc8fc8f68357133ccd5d2de24771a3.jpg"
                     class="goodImg">
                <h2>Pins cute cats</h2>
                <h2>5$</h2>
            </div>
            <div class="good">
                <img alt="goodImg" src="https://www.fresher.ru/images10/kreativnye-futbolki/8.jpg" class="goodImg">
                <h2>"Sorry"</h2>
                <h2>13$</h2>
            </div>
        </div>
    </div>
    <div class="number">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>
</div>
<footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
    <div class="container text-center">
        <div class="col-md-12 py-5">
            <div class="flex-center">
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Vk-->
                <a class="ins-ic">
                    <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <a>Our links</a>
    </div>
</footer> <!-- Footer -->

<script>
    /*window.addEventListener('mousedown', hoverEnter, false);
window.addEventListener('mouseut',hoverLeave,false);
hoverEnter = function (evt) {
    let target = evt.target;
    //if(target.className == 'good'){
        target.style.backgroundColor ='grey';
    }

}
hoverLeave = function (evt) {
    let target = evt.target;
    if(target.className == 'good'){
        target.style.backgroundColor ='white';
    }
}*/
    window.onmousedown = function (evt) {
        let target = evt.target;
        if (target.className == 'good') {
            target.style.backgroundColor = 'grey';
        }
    }
    window.onmouseup = function (evt) {
        let target = evt.target;
        if (target.className == 'good') {
            target.style.backgroundColor = 'white';
        }
    }

</script>
</body>
</html>