{% extends 'base.html.twig' %}

{% block body %}
<style>
    ::-webkit-scrollbar {
        display: none;
    }

    .navbar-item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .imgcont {
        height: 250px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .card {
        margin-bottom: 10px;
    }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
    <div class="container-fluid">
        <a href="/" class="navbar-brand" style="font-family: 'Bebas Neue', cursive; font-size: 23px">
            <img class="pr-2"
                 src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg">
            MERCHEAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <button class="btn-dark">
                            <a href="/goods" class="nav-link" style="text-decoration: none; color: white">Shop</a>
                        </button>
                    </li>
                    <li class="navbar-item">
                        <button class="btn-dark">
                            <a href="/login" class="nav-link" style="text-decoration: none; color: white">Login</a>
                        </button>
                    </li>
                    <li class="navbar-item">
                        <button class="btn-dark">
                            <a href="/register" class="nav-link"
                               style="text-decoration: none; color: white">Register</a>
                        </button>
                    </li>
                {% endif %}
            </ul>
            <div class="navbar-item">
                {% if is_granted('ROLE_USER') %}
                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                {% endif %}
            </div>

        </div>

    </div>
</nav>

<div class="container-fluid p-0">
    <img class="w-100" style="height: 250px" alt="goodImg"
         src="https://d4y70tum9c2ak.cloudfront.net/articleBanner/OsJATF0e2Hz8jkTjS9s7rAkog8cp4hlVoTReZkbuido/1600.jpg">
</div>

<div class="container mb-2 mt-2">
    <div class="input-group">
        <select class="custom-select col-3 mt-2 mb-2">
            <option selected>Choose...</option>
            <option value="Clothes">Clothes</option>
            <option value="Cups">Cups</option>
            <option value="Stickers">Stickers</option>
            <option value="Others">Others</option>
        </select>
        <input class="form-control col-7 m-2">
        <button class="btn btn-dark col-2 mt-2 mb-2">Search</button>
    </div>
</div>

<div class="container" id="goods">
    <div class="row">
        {% for product in products %}
            <div class="col-3">
                <div class="card p-0" style="max-height: 500px">
                    <div class="imgcont">
                        <img src="https://sun7-9.userapi.com/t03FHBbDltzQd9xZVE-SA7WxUjcQqIoSIsSvng/u9Xt1KV6yNo.jpg"
                             class="card-img-top img-responsive">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text w-25 ">{{ product.cost }}</p>
                        <button class="btn-dark btn" value="{{ product.id }}">View</button>
                        <button class="btn btn-light"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}
        {#        <nav aria-label="Page navigation example">#}
        {#            <ul class="pagination justify-content-center">#}
        {#                <li class="page-item">#}
        {#                    <a class="page-link" href="#" aria-label="Previous">#}
        {#                        <i class="fas fa-chevron-left"></i>#}
        {#                        <span class="sr-only">Previous</span>#}
        {#                    </a>#}
        {#                </li>#}
        {#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
        {#                <li class="page-item">#}
        {#                    <a class="page-link" href="#" aria-label="Next">#}
        {#                        <i class="fas fa-chevron-right"></i>#}
        {#                        <span class="sr-only">Next</span>#}
        {#                    </a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </nav>#}
    </div>

    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->
    {% endblock %}
