{% extends 'base.html.twig' %}


{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/main" class="navbar-brad"><img
                        src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg"> MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item active">
                        <a href="/main" class="nav-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/register" class="nav-link">Become author</a>
                    </li>
                </ul>
                <div class="navbar-item">

                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                </div>

            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-4" align="center">
                <span><h1>Registration</h1></span>

                <br>
                <form>
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" oninput="checkPassword()" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="example-date-input">Birth Date</label>
                        <input class="form-control" type="date" id="example-date-input" name="birthDate">
                    </div>
                    <div class="form-group">
                        <div class="card-body__text-info" style="color: #000000; font-size: 16px">
                            Your password should follow requirements:
                            <ul>
                                <li id="passwordLengthError">
                                    Password should be at least 8 characters long
                                </li>
                                <li id="passwordContainUpperCaseLetterError">
                                    Password should contain at least 1 letter
                                </li>
                                <li id="passwordContainNumberError">
                                    Password should contain at least 1 number
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="col-3 mr-4 ml-3 btn btn-secondary" style="width: 120px; padding: 5px">Register</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <br>
    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef">
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->
    <script>
        function checkPassword() {
            var password = document.getElementById('inputPassword').value;
            var passwordLengthError = document.getElementById('passwordLengthError');
            var passwordContainUpperCaseLetterError = document.getElementById('passwordContainUpperCaseLetterError');
            var passwordContainNumberError = document.getElementById('passwordContainNumberError');
            var confirmPassword = document.getElementById('confirmPassword');
            var cond1 = false;
            var cond2 = false;
            var cond3 = false;
            console.log(password);
            if (password.length < 8) {
                passwordLengthError.style.color = "red";
                cond1 = false;
            } else {
                passwordLengthError.style.color = "green";
                cond1 = true;
            }
            if (password.toString().search(/[A-Za-z]/) === -1) {
                passwordContainUpperCaseLetterError.style.color = "red";
                cond2 = false;
            } else {
                passwordContainUpperCaseLetterError.style.color = "green";
                cond2 = true;
            }
            if (password.toString().search(/\d/) === -1) {
                passwordContainNumberError.style.color = "red";
                cond3 = false;
            } else {
                passwordContainNumberError.style.color = "green";
                cond3 = true;
            }
        }

    </script>
{% endblock %}
